In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv("data.csv")
#df = df.dropna()

In [3]:
# List of campaign response columns
campaign_cols = ['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5','Response']

In [4]:
# Create a contingency table of country and campaign responses for each campaign column
contingency_tables = {}
for col in campaign_cols:
    contingency_tables[col] = pd.crosstab(df['Country'], df[col])

In [5]:
# Perform the chi-squared test for each campaign column
results = []
for col in campaign_cols:
    table = contingency_tables[col]
    chi2_stat, p_val, dof, expected = chi2_contingency(table)
    results.append({'Campaign': col, 'Chi-squared statistic': chi2_stat, 'p-value': p_val})

In [6]:
# Create dataframes for contingency tables and results
contingency_tables_df = pd.concat(contingency_tables.values(), keys=contingency_tables.keys())
results_df = pd.DataFrame(results)

In [7]:
contingency_tables_df

                         0    1
             Country
AcceptedCmp1 AUS       153    7
             CA        250   18
             GER       113    7
             IND       141    7
             ME          3    0
             SA        317   20
             SP       1017   78
             US        102    7
AcceptedCmp2 AUS       160    0
             CA        262    6
             GER       118    2
             IND       146    2
             ME          3    0
             SA        333    4
             SP       1079   16
             US        109    0
AcceptedCmp3 AUS       151    9
             CA        250   18
             GER       110   10
             IND       135   13
             ME          2    1
             SA        316   21
             SP       1012   83
             US        101    8
AcceptedCmp4 AUS       154    6
             CA        244   24
             GER       109   11
             IND       137   11
             ME          3    0
             SA        317   20
             SP       1006   89
             US        103    6
AcceptedCmp5 AUS       147   13
             CA        247   21
             GER       112    8
             IND       142    6
             ME          3    0
             SA        316   21
             SP       1006   89
             US        104    5
Response     AUS       137   23
             CA        230   38
             GER       103   17
             IND       135   13
             ME          1    2
             SA        285   52
             SP        919  176
             US         96   13

In [8]:
results_df

       Campaign  Chi-squared statistic   p-value
0  AcceptedCmp1               3.160705  0.869748
1  AcceptedCmp2               5.613257  0.585560
2  AcceptedCmp3               5.182668  0.637682
3  AcceptedCmp4               7.257259  0.402595
4  AcceptedCmp5               5.764426  0.567510
5      Response              12.917241  0.074151

In [9]:
import statsmodels.api as sm

# Create a binary response variable for campaign success
df['CampaignSuccess'] = df['AcceptedCmp1'].apply(lambda x: 1 if x==1 else 0)

# Select variables to include in the logistic regression model
X = df[['Country', 'Year_Birth', 'Education', 'Marital_Status', 'Kidhome', 'Teenhome',
        'Recency', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases',
        'NumStorePurchases', 'NumWebVisitsMonth']]

# Create dummy variables for categorical variables
X = pd.get_dummies(X, columns=['Country', 'Education', 'Marital_Status'], drop_first=True)

# Fit the logistic regression model
logit_model = sm.Logit(df['CampaignSuccess'], X)
logit_results = logit_model.fit()

# Print the summary of the logistic regression model
print(logit_results.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.179068
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:        CampaignSuccess   No. Observations:                 2240
Model:                          Logit   Df Residuals:                     2213
Method:                           MLE   Df Model:                           26
Date:                Mon, 20 Mar 2023   Pseudo R-squ.:                  0.2495
Time:                        22:15:11   Log-Likelihood:                -401.11
converged:                      False   LL-Null:                       -534.47
Covariance Type:            nonrobust   LLR p-value:                 8.821e-42
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Year_Birth                 -0.0011      0.001     -1.382      0.167      -0.003       0.000
Kidhome                    -0.4138      0.366     -1.129      0.259      -1.132       0.305
Teenhome                   -0.9278      0.260     -3.567      0.000      -1.438      -0.418
Recency                    -0.0035      0.003     -1.060      0.289      -0.010       0.003
NumDealsPurchases          -0.2582      0.086     -2.992      0.003      -0.427      -0.089
NumWebPurchases             0.1721      0.034      5.084      0.000       0.106       0.238
NumCatalogPurchases         0.2408      0.035      6.853      0.000       0.172       0.310
NumStorePurchases           0.0625      0.031      2.010      0.044       0.002       0.123
NumWebVisitsMonth          -0.0114      0.055     -0.207      0.836      -0.120       0.097
Country_CA                  0.6735      0.514      1.310      0.190      -0.334       1.681
Country_GER                 0.2975      0.614      0.485      0.628      -0.905       1.500
Country_IND                 0.4211      0.610      0.690      0.490      -0.775       1.617
Country_ME                -17.8239   1.85e+04     -0.001      0.999   -3.62e+04    3.62e+04
Country_SA                  0.5320      0.509      1.046      0.296      -0.465       1.529
Country_SP                  0.8094      0.460      1.761      0.078      -0.092       1.710
Country_US                  0.6404      0.620      1.033      0.302      -0.575       1.856
Education_Basic           -19.3658   1.64e+04     -0.001      0.999   -3.22e+04    3.22e+04
Education_Graduation        0.0710      0.338      0.210      0.834      -0.591       0.733
Education_Master           -0.2636      0.407     -0.647      0.517      -1.061       0.534
Education_PhD              -0.2573      0.375     -0.687      0.492      -0.991       0.477
Marital_Status_Alone      -30.1061   6.93e+06  -4.35e-06      1.000   -1.36e+07    1.36e+07
Marital_Status_Divorced    -2.3686      1.572     -1.507      0.132      -5.449       0.712
Marital_Status_Married     -1.9629      1.544     -1.271      0.204      -4.990       1.064
Marital_Status_Single      -2.2915      1.554     -1.475      0.140      -5.337       0.754
Marital_Status_Together    -2.3705      1.553     -1.526      0.127      -5.415       0.674
Marital_Status_Widow       -2.3611      1.610     -1.466      0.143      -5.517       0.795
Marital_Status_YOLO       -18.1692   2.12e+04     -0.001      0.999   -4.16e+04    4.16e+04
===========================================================================================

/Users/asishghosh/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "